.banner{
    width: 100%;
    height: 50vh;
    background: url('../img/banner7.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.about{
        margin:15px 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40vh;
        text-align: justify;
}
.about h2{
    margin:15px;
}