@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Rubik+Doodle+Shadow&display=swap');
*{
    padding: 0;
    margin: 0;
    
    text-overflow: initial;
}
a{
    text-decoration: none;
}
body{
    font-family:Rubik Doodle Shadow;
    background: black;
    color: white;
}
.nav{
    
    background-color: rgba(0, 0, 0, 0.112);
    backdrop-filter: blur(15px);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu a{
    color: white;
    backdrop-filter: blur(15px);
    padding: 15px;
    border-radius: 5px;
}
.menu a:hover{
    color: white;
    background: #EC1D24;
    backdrop-filter: blur(15px);
    padding: 15px;
    box-shadow: #EC1D24 10px 5px 50px   ;
}
.nav-div{
    display: flex;
    width: min-content;
    align-items: center;
}
.footer{
    font-family: Roboto,Trebuchet MS,Helvetica,Arial,sans-serif;
    background-color: #EC1D24;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
.footer p a{
    color: white;
}
.menu-bar{
    display: none;
}
.menu-slide{
    display: none;
}
.social{
    display: flex;
    align-self: flex-start;
}
.social a{
    color: white;
    margin-right: 15px;
}
.social a:hover{
    color: black;
    margin-right: 15px;
}
@media screen and (max-width:688px) {
    .menu{
        display: none;
    }
    .menu-bar{
        display: block;
    }
    .menu-bar button{
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.112);
        backdrop-filter: blur(15px);
        padding: 15px;
        border-radius: 5px;
        color: white;
    }
    .menu-bar button:hover{
        color: white;
        background: #EC1D24;
        backdrop-filter: blur(15px);
        padding: 15px;
        box-shadow: #EC1D24 10px 5px 50px   ;
    }
    #menu-slide{
        position: absolute;
        top: 0px;
        right: 0px;
        min-height: 100vh;
        width: 70%;
        background-color: black;
        display: flex;
        flex-direction: column;
        display: none;
        transition: all;
        transition-duration: 5s;
        animation: slide-open;
        animation-duration: 0.5s;
    }
    #menu-slide button{
        background-color: black;
        color: white;
        width: 50px;
        height: 50px;
    }
    #menu-slide a{
        background-color: black;
        color: white;
        margin: 15px;
        padding: 5px;
        border-bottom: 1px solid white;
    }
}

@keyframes slide-open {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}